<div class="ui inverted borderless top fixed huge menu">
  <div class="ui container">
    <a class="item" href="/">
      Excel To Sms
    </a>
    <div class="right menu">
      {{#if session.isAuthenticated}}
      {{else}}
        {{#link-to "login" class="item"}}
          <button class="ui green button">Login</button>
        {{/link-to}}
      {{/if}}
    </div>
  </div>
</div>
{{outlet}}