<div class="ui inverted borderless top fixed huge menu">
  <div class="ui container">
    <a class="item" href="/">
      Excel To Sms
    </a>
    <div class="right menu">
      {{#if session.isAuthenticated}}
        {{#link-to "settings"}}
          <button class="ui blue button">
            <i class="cog icon"></i> Settings
          </button>
        {{/link-to}}
      {{else}}
        {{#link-to "login" class="item"}}
          <button class="ui {{if auth "disabled" ""}} green button">Login</button>
        {{/link-to}}
      {{/if}}
    </div>
  </div>
</div>
{{outlet}}