{{!-- template-lint-disable no-unused-block-params --}}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="ui container">
  <div class="ui raised segment">
    <div class="ui center aligned grid">
      <div class="column">
        <img src="/check-circle.gif" alt="">
        <br>
        <h1 class="ui large header">Nice! SMS has been sent succesfully!</h1>
        <h2 class="ui header">Go to {link} to see history</h2>
      </div>
    </div>
  </div>
</div>